<link rel="stylesheet" href="/css/order.css">
<section id="order-summary-overlay" class="body-item order-summary-overlay">
    <div class="order-summary-box">
        <div class="logo-header">
            <h1>Bagels & Bacon</h1>
        </div>
        <hr />
        <div class="order-summary">
            <h3>Your order summary</h2>
                <ul class="order-list" id="order-list">
                </ul>
                <hr />
                <% if(locals.paymentStatus && paymentStatus==='failure' ) { %>
                    <p style="color: red; text-align: center;">Error occured while payment, please try later</p>
                    <%}%>
                <div class="order-total">
                    <p> Total </p>
                    <h4 id="grand-total">
                        $0
                    </h4>
                </div>
        </div>
        <div class="payment-options">
            <a href="#" onclick="closeOrderSummaryBox();" class="payment-options-item">Cancel</a>
            <a href="/orders/payment" class="payment-options-item">Payment</a>
        </div>
    </div>
</section>
<section id="success-overlay" class="body-item success-overlay">
    <div class="success-overlay-box">
        <div class="logo-header">
            <h1>Bagels & Bacon</h1>
        </div>
        <hr />
        <div class="success-msg">
            <p>You order has been accepted & payment completed. Please check order status in Status tab.</p>
        </div>
    </div>
</section>