<section id="order-summary-overlay" class="body-item order-summary-overlay">
    <div class="order-summary-box">
        <div class="logo-header">
            <h1>Bagels & Bacon</h1>
        </div>
        <hr />
        <div class="order-summary">
            <h3>Your order summary</h2>
                <ul class="order-list">
                    <li class="order-items">
                        <div class="order-item">
                            <p>Item Name x 2</p>
                            <h4>$4.99</h4>
                        </div>
                    </li>
                    <li class="order-items">
                        <div class="order-item">
                            <p>Item Name x 2</p>
                            <h4>$4.99</h4>
                        </div>
                    </li>
                    <li class="order-items">
                        <div class="order-item">
                            <p>Item Name x 2</p>
                            <h4>$4.99</h4>
                        </div>
                    </li>
                </ul>
                <hr />
                <div class="order-total">
                    <p> Total </p>
                    <h4>$20.99</h4>
                </div>
        </div>
        <div class="payment-options">
            <a href="#" onclick="closeOrderSummaryBox();" class="payment-options-item">Cancel</a>
            <a href="#" onclick="showSuccessPaymentBox();" class="payment-options-item">Payment</a>
        </div>
    </div>
</section>