<section id="success-overlay" class="body-item success-overlay">
    <div class="success-overlay-box">
        <div class="logo-header">
            <h1>Bagels & Bacon</h1>
        </div>
        <hr />
        <div class="success-msg">
            <p>You order has been accepted & payment completed. Please check order status in Status tab.</p>
        </div>
    </div>
</section>