/**
color pallete
#FAF3E0 - milky
#EABF9F - latte
#B68973 - espresso
#1E212D - cafe americano
*/

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 17px;
    line-height: 2;
    max-width: 100%;
    overflow-x: hidden;
    position: relative;
}

.body-item {
    position: absolute;
    width: 100%;
    height: 100%;
}

li {
    list-style-type: none;
}

h1 {
    font-family: 'Caveat', cursive;
    font-size: 50px;
    line-height: 0;
}

a {
    text-decoration: none;
}

.container {
    padding: 60px 0;
}

.main-img {
    background-size:contain;
}

/** about 
--------------------------------------------- */
.main-head-wrap {
    text-align: center;
}

.about {
    padding-top: 0%;
    width: 80%;
    margin: 0 auto;
}

/** products 
--------------------------------------------- */

.products {
    margin: 0 auto;
    padding-top: 2%;
    background-color: #B68973;
    color: #faf3e0;
}

.products-heading {
    text-align: center;
    margin: 80px 0 50px;
}
.collection-wrap {
    align-content: center;
    width: 40%;
    margin: 0 auto;
}
.collection-item {
    position: relative;
    padding-bottom: 30px;
}
.prod-img-wrap {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.1), 0 6px 20px 0 rgba(0,0,0,0.15);
}
.prod-desc {
    position: absolute;
    top: 40%;
    left: 45%;
    transform: translate(-40%, -45%);
    line-height: 1.25;
    font-size: 15px;
    padding: 2px 10px;
    background: rgba(30, 33, 45, 70%);
    color: #EABF9F;
}


/** newsletter 
--------------------------------------------- */
.newsletter {
    height: inherit;
    background-color: #EABF9F;
    color: #1E212D;
    text-align: center;
}

input, textarea {
    padding: 10px 20px;
    width: 30%;
    border: 1px solid #ccc;
    border-radius: 5%;
    box-sizing: border-box;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.1), 0 6px 20px 0 rgba(0,0,0,0.15);
    margin-right: 2%;
    margin-bottom: 3%;
}

.subscribe-form a {
    padding: 10px 20px;
    border-radius: 5%;
    background-color: #1E212D; 
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.1), 0 6px 20px 0 rgba(0,0,0,0.15);
    color: #FAF3E0;
}

.subscribe-form a:hover {
    background-color: #000000;
}

.newsletter > p:first-of-type {
    padding-bottom: 15px;
}

/** info 
------------------------------ */
.info {
    width: 80%;
    margin: 0 auto;
}

.info-wrap {
    text-align: center;  
}


.cuisines h3 {
    text-align: center;
}

.cuisine-list {
    padding-right: 40px;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-column-gap: 20px;
}

.cuisine-items {
    background-color: #EABF9F;
    margin: 15px 0;
    padding: 0 20px;
    text-align: center;
    font-weight: 500;
    border-radius: 5%;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.1), 0 6px 20px 0 rgba(0,0,0,0.15);
}

.cuisine-items a {
    color: #1E212D;
}

.facilities-list {
    padding-top: 35px;
    font-size: 15px;
}

.facility-item h3{
    font-weight: 500;
}

/** menu 
------------------------------------------ */
.menu-section {
    background-color: #B68973;
    color: #FAF3E0;
}
.menu {
    width: 80%;
    margin: 0 auto;
}

.menu-heading {
    text-align: center;
}

.menu-heading h1 {
    margin: 2%;
}


.menu-item-list {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-column-gap: 50px;
    grid-row-gap: 50px;
    padding-right: 40px;
    justify-content: space-evenly;
    padding-top: 40px;
}
/* .menu-item {
    display: flex;
} */
.menu-item img {
    margin-top: 20px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.1), 0 6px 20px 0 rgba(0,0,0,0.15);
}

.menu-item .item-desc {
    line-height: 1;    
}

.menu-item .item-desc a {
    color: #FAF3E0;
}

.menu-item .item-desc h4 {
    color: #EABF9F;
    font-weight: 500;
}

.menu-item-overlay {
    position: relative;
}
.menu-item-button {
    position: absolute;
    left: 32%;
    top: 40%;
    background-color: #1E212D;
    color: #FAF3E0;
    padding: 10px 20px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.1), 0 6px 20px 0 rgba(0,0,0,0.15);
    border-radius: 5%;
    display: none;
}

/** feedback
--------------------------------------------- */
.msg-box {
    width: 90%;
    text-align: center;
    border-radius: 5px;
    margin: 0 auto;
}

.error-msg-box {
    border: 2px solid red;
    color: red;
}

.success-msg-box {
    border: 2px solid green;
    color: green;
}

/** reviews 
------------------------------------------ */

.feedback-heading {
    text-align: center;
}
.review-form {
    padding: 60px 0;
    margin: 0 auto;
}

.review-form form {
    text-align: center;
    margin-top: 10%;
    font-size: 17px;
}

.review-form form input[type=text], .review-form form textarea  {
    width: 70%;
}

.review-form form input[type=submit] {
    background-color: #EABF9F;
    font-family: 'Montserrat', sans-serif;
    border-radius: 5%;
    font-size: 17px;
}

.reviews {
    background-color: #EABF9F;
    color: #1E212D;
    position: relative;
    padding-bottom: 130px;
}
.reviews-heading {
    text-align: center;
    margin-bottom: 70px;
}
.review-items-list {
    width: 70%;
    margin: 0 auto;
}

.review-items h3 {
    margin-bottom: 0;
}

.review-items h4 {
    margin-top: 0;
}

.all-reviews {
    margin-top: 20px;
    background-color: #1E212D;
    color: #FAF3E0;
    padding: 10px 20px;
    position: absolute;
    left: 40%;
    border-radius: 5%;
}
  

/** footer 
--------------------------------------------- */
footer {
    text-align: center;
    background-color: #1E212D;
    color: #FAF3E0;
}
.footer-items {
    list-style-type: none;
    display: flex;
    justify-content: center;
}
.footer-items a {
    text-decoration: underline;
    padding-right: 30px;
    display: inline-block;
    color: #EABF9F;
}
.footer-items a:hover {
    text-decoration: none;
}

/** reponsive media queries
--------------------------------------- */
@media screen and (min-width:1050px) {
    .main-para-wrap {
        display: flex;
    }
    .para-light {
        margin-right: 2%;
    }
    .collection-wrap {
        display: flex;
        justify-content: center;
        width: 80%;
    }
    .collection-item {
        padding-right: 10px;
        flex: 0 0 300px;
    }
}


@media screen and (min-width:950px) {
    .reviews-section {
        display: flex;
    }
    .flex-item {
        flex: 1 0 50%;
    }
}

@media screen and (min-width:750px) {
    .flex-container {
        display: flex;
        justify-content: space-evenly;
        width: 80%;
        margin: 0 auto;
    }
    
}

@media screen and (max-width:750px) {
    .facilities-list {
        display: grid;
        grid-template-columns: auto auto auto;
        grid-column-gap: 10px;
        justify-content: space-around;
        padding: 0;
        padding-top: 30px;
    }

    .menu-item-list {
        display: grid;
        grid-template-columns: auto auto;
        grid-column-gap: 50px;
        grid-row-gap: 50px;
        padding-right: 40px;
        justify-content: space-evenly;
    }
}

@media screen and (max-width:500px) {
    body {
        font-size: 10px;
    }
    h1 {
        font-size: 30px;
    }
    .collection-wrap {
        width: 80%;
    }
    .prod-desc {
        font-size: 10px;
    }
    .newsletter-content {
        margin: 0 auto;
        width: 80%;
    }
    input[type=text] {
        width: 80%;
        margin-bottom: 10%;
    }
    .cuisine-list {
        padding: 0;
    }
    .facility-item {
        font-size: 10px;
    }

    .menu-item-list {
        display: grid;
        grid-template-columns: auto;
        grid-row-gap: 30px;
    }
}