/**
color pallete
#FAF3E0 - milky
#EABF9F - latte
#B68973 - espresso
#1E212D - cafe americano
*/

body {
    position: relative;
    z-index: 1;
}
.body-item {
    position: absolute;
    width: 100%;
    height: 100%;
}

li {
    list-style-type: none;
}

/** header & nav bar
---------------------------------- */
.intro-header {
    padding: 0;
}
.loginform-link, .explore {
    padding: 10px 20px;
    border-radius: 5%;
    margin-left: 45%;
}

/** info 
------------------------------ */
.info {
    width: 80%;
    margin: 0 auto;
}

.info-wrap {
    text-align: center;  
}


.cuisines h3 {
    text-align: center;
}

.cuisine-list {
    padding-right: 40px;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-column-gap: 20px;
}

.cuisine-items {
    background-color: #EABF9F;
    margin: 15px 0;
    padding: 0 20px;
    text-align: center;
    font-weight: 500;
    border-radius: 5%;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.1), 0 6px 20px 0 rgba(0,0,0,0.15);
}

.cuisine-items a {
    color: #1E212D;
}

.facilities-list {
    padding-top: 35px;
    font-size: 15px;
}

.facility-item h3{
    font-weight: 500;
}

/** menu 
------------------------------------------ */
.menu-section {
    background-color: #B68973;
    color: #FAF3E0;
}
.menu {
    width: 80%;
    margin: 0 auto;
}

.menu-heading {
    text-align: center;
}

.menu-heading h1 {
    margin: 2%;
}

.menu-item-list {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-column-gap: 50px;
    grid-row-gap: 50px;
    padding-right: 40px;
    justify-content: space-evenly;
    padding-top: 40px;
}
/* .menu-item {
    display: flex;
} */
.menu-item img {
    margin-top: 20px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.1), 0 6px 20px 0 rgba(0,0,0,0.15);
}

.menu-item .item-desc {
    line-height: 1;    
}

.menu-item .item-desc a {
    color: #FAF3E0;
}

.menu-item .item-desc h4 {
    color: #EABF9F;
    font-weight: 500;
}

/** reviews 
------------------------------------------ */

.feedback-heading {
    text-align: center;
}
.review-form {
    padding: 60px 0;
    margin: 0 auto;
}

.review-form form {
    text-align: center;
    margin-top: 10%;
    font-size: 17px;
}

.review-form form input[type=text], .review-form form textarea  {
    width: 70%;
}

.review-form form input[type=submit] {
    background-color: #EABF9F;
    font-family: 'Montserrat', sans-serif;
    border-radius: 5%;
    font-size: 17px;
}

.reviews {
    background-color: #EABF9F;
    color: #1E212D;
    position: relative;
    padding-bottom: 130px;
}
.reviews-heading {
    text-align: center;
    margin-bottom: 70px;
}
.review-items-list {
    width: 70%;
    margin: 0 auto;
}

.review-items h3 {
    margin-bottom: 0;
}

.review-items h4 {
    margin-top: 0;
}

.all-reviews {
    margin-top: 20px;
    background-color: #1E212D;
    color: #FAF3E0;
    padding: 10px 20px;
    position: absolute;
    left: 40%;
    border-radius: 5%;
}

/** login form 
--------------------------------------- */
#form-section {
    display: none;
    margin-top: 30%;

}
.overlay-box {
    margin: 0 auto;
    width: 50%;
    background-color: #FAF3E0;
    border: 1px solid #B68973;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.1), 0 6px 20px 0 rgba(0,0,0,0.15);
}
.overlay-box-links {
    display: grid;
    grid-template-columns: 1fr 1fr 75px;
    text-align: center;
    border: 2px solid #B68973;
    border-bottom: 0;
}
.overlay-box-links a {
    padding: 0 40px 20px 40px;
    color: #1E212D;
}
.overlay-box-links .sign-up {
    border-right: none;
    border-bottom: none;
}
.overlay-box-links .login {
    border: 2px solid #B68973;
    border-top: 0
}
.signup-box {
    text-align: center;
    padding: 30px 0;
    border: 2px solid #B68973;
    border-top: 0;
    display: block;
}
.signup-header {
    margin-top: 5%;
}
.signup-form-items, .login-form-items {
    margin: 10px 0;
}

.signup-form-items input[type=submit], .login-form-items input[type=submit] {
    width: 25%;
    background-color: #EABF9F;
    color: #1E212D;
    font-family: 'Montserrat', sans-serif;
    font-size: 17px;
}

.signup-form-items input[type=text], .login-form-items input[type=text] {
    width: 70%;
}

.login-box {
    text-align: center;
    padding: 30px 0;
    border: 2px solid #B68973;
    border-top: 0;
    display: none;
}

/** responsive 
------------------------------------------*/

@media screen and (min-width:950px) {
    .reviews-section {
        display: flex;
    }
    .flex-item {
        flex: 1 0 50%;
    }
}

@media screen and (min-width:750px) {
    .flex-container {
        display: flex;
        justify-content: space-evenly;
        width: 80%;
        margin: 0 auto;
    }
    
}

@media screen and (max-width:750px) {
    .facilities-list {
        display: grid;
        grid-template-columns: auto auto auto;
        grid-column-gap: 10px;
        justify-content: space-around;
        padding: 0;
        padding-top: 30px;
    }

    .menu-item-list {
        display: grid;
        grid-template-columns: auto auto;
        grid-column-gap: 50px;
        grid-row-gap: 50px;
        padding-right: 40px;
        justify-content: space-evenly;
    }

    .overlay-box {
        margin: 0 auto;
        width: 80%;
        background-color: #FAF3E0;
    
    }
}

@media screen and (max-width:700px) {
    .loginform-link, .explore {
        margin-left: 40%;
    }
}

@media screen and (max-width:500px) {
    .cuisine-list {
        padding: 0;
    }
    .facility-item {
        font-size: 10px;
    }

    .login-form-items input[type=submit] {
        font-size: 10px;
    }

    .signup-form-items input[type=submit] {
        font-size: 10px;
    }

    .menu-item-list {
        display: grid;
        grid-template-columns: auto;
        grid-row-gap: 30px;
    }
}